li {
  list-style: none;
  float: left;
}

body {
    width: 800px;
}

header {
  background-color: #eee;
  height: 120px;
}

.header-logo {
  float: left;
  padding: 20px 40px;
  font-size: 36px;
  font-family: sans-serif;
}

.header-list ul {
  margin-left: 500px;
}

.header-list li {
  padding: 40px 20px;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: royalblue;
}
.main-title {
  font-size: 30px;
}

footer {
  margin-left: 600px;
  color: #ddd;
}

footer p {
  padding-left: 30px;
}
